# Jupyter
.ipynb_checkpoints/

# MLflow
mlruns/

# DVC
.dvc/tmp/
.dvc/cache/
.dvc/config.local

#catboost
catboost_info/

# данные (файлы внутри data будут игнорироваться, кроме .dvc-метаданных)
data/**/*
!data/**/*.dvc

# модели
models/**/*
!models/**/*.dvc

# macOS / Windows мусор
.DS_Store
Thumbs.db
.idea/
